*{
	margin: 0;
	padding: 0;
}

#contenedor{
	width: 1200px;
	height: 1000px;
	background:	#FAFAEC;
	margin: 0.5em auto;
	padding: 0.5em;
}

#header{
	
	padding-left: 10px; 
	height: 15%;
	background: #FBDA32;
	border-radius: 1em;
	margin: 1em;
}

#nav{
	padding-left: 75px;
	height: 14%;
	background: #4e3b31;
	border-radius: 1em;
	margin: 1em;
}

#contenido{
	height: 44%;
	background: #FAFAEC;
	border-radius: 1em;
}
#fotter{
	height: 15%;
	background: #F0EC25;
	border-radius: 1em;
	margin: 1em;
}
#section{
	height: 425px;
	width: 73%;
	background:	#FAFAEC;
	float: left;
	margin-left: 0.5em;
	border-radius: 1em;
}

#aside{
	height: 99%;
	width: 25.5%;
	background: #FBDA32;
	border-radius: 3em;
	float: right;
	margin-right: 0.5em;
}
.articulo{
	padding-left: 10px; 
	width: 95%;
	height: 45%;
	background: #4e3b31;
	margin: 1em;
	border-radius: 1em;
}
.formulario{
	width: 94%;
	height: 20%;
	margin: 1em;
	border-radius: 1em;
	border-radius: 20px 20px 20px 20px


}
.ref{
	width:8%;
	height: 7%;
	background: #4e3b31;
	margin: 1em;
	border-radius: 1em;
}
table{
	border-spacing: 0;
	border-collapse: collapse;
	border: none;
}
td.celda_sin{
	padding: 0;
}
input{
	border-radius: 30px;
	width: 200px;
	height: 30px;
	margin: 5px;
}
#tex1{

	float: left;

}
#s{
	width: 150px;
	float: right;
	border-radius: 10px;
}
#tex2{
	float: left;
}
#j{
	width: 150px;
	float: right;
	border-radius: 10px;
}
#body{
	float: left;
	background-image: url(../imagen/gatas.png); 
}
#j{
	width: 150px;
	float: right;
	
}
a{
	color: black;
}
#emcabezado{
	background: #4e3b31;
	height:20px;
	padding: 15px 8px;
	border-radius: 30px 30px 30px 30px;
	margin-bottom: 8px;
}